.markdown{
  font-size: 15px;
}

ul.articleInfo{
  padding: 12px;
  margin: 0;
  list-style: none;
  border: 1px solid #eee;
  margin-bottom: 24px;
  background-color: #fcfcfc;
  border-radius: 6px;
  li{
    padding: 2px 0;
    .dinfo{
      font-size: 12px;
      .info{
        display: inline-block;
        width: 60px;
        font-size: 13px;
        // text-align: right;
        // font-weight: bold;
      }
      .item{
        font-size: 12px;
        color: #666;
        a {
          text-decoration: none;
          &:link,&:visited{
            color: #666;
          }
          &:hover{
            color: #0969da;
          }
        }
      }
    }
  }
}