.media {
  width: 100%;
  overflow: hidden;
  .title{
    color: #21759b;
    cursor: pointer;
    font-size: 24px;
    &:hover{
      color: lighten(#21759b, 20%);
    }
  }
  .markdown{
    color: #444;
    padding: 8px 0;
  }
}