.category {
  a {
    font-size: 13px;
    &, &:link, &:visited {
      color: #424242;
    }
    &:hover {
      color: #555;
      text-decoration: underline;
    }
    &.active {
      color: #1677ff;
    }
  }
}